#gallery {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.gallery__item {
  height: 100vh;
  flex-grow: 1;
  margin: auto;
  justify-content: space-around;
}

.gallery__img {
  display: block;
  width: 100%;
  height: auto;
}
